.CategoryCard{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    margin-top: 40px;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.CategoryCard:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}


.CardTitle{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
    background: white;
}