
.Name {
    color: white;
    font-size: 24px;
}

.Resume{
    color: white;
    font-size: 3vh;
}

.Pad{
    padding-left: 1.2vh;
    padding-right: 1.2vh;
}



.NavigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    /*padding-left: 15%;*/
    /*padding-right: 15%;*/
    padding-left: 3vh;

    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background: rgba(0, 0, 0, 0.24);

}


@media only screen and (max-width: 600px) {
    .NavigationBar {
        padding-left: 6px;
    }
}

.NavigationButtons {
    color: #183D6E;
    font-size: 15px;
    cursor:pointer;
}




