
.CompanyName {
    color: black;
    font-size: 24px;
}

.MenuItem{
    color: black;
    display: inline-block;
}

.NavigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20% 10px 20%;
    height: auto;
    background: white;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 600px) {
    .NavigationBar {
        padding-left: 6px;
    }
}


